body {
    background-color: #98a0a5;
}

@media (min-width: 675px) {
    body {
        background-color: #2f3e55;
    }
}

@media (min-width: 999px) {
    body {
        background-color: #f4f5f0;
    }
}

@media (min-width: 1280px) {
    body {
        background-color: #384883;
    }
}
